<launch>
    <group ns="horse1">
      <node pkg="keiba" type="horse.py" name="horse1" output="screen"/>
    </group>
    <group ns="horse2">
      <node pkg="keiba" type="horse.py" name="horse2" output="screen"/>
    </group>
    <group ns="horse3">
      <node pkg="keiba" type="horse.py" name="horse3" output="screen"/>
    </group>
</launch>

